@import url('https://fonts.googleapis.com/css2?family=Hind:wght@700&display=swap');
body {
  font-family: 'Hind', sans-serif;
}

.SeasonalSlide {
  margin: 0 10% 40px 10%;
}
.season-upper {
  padding-top: 20px;
}
.season-upper h1 {
  text-align: center;
  margin: 0 0 0 50%;
  font-size: 100px;
  color: white;
  padding: 0 10% 0 10%;
  background-color: rgba(0,0,0,0.5);
}
.season-lower {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
}
.sport {
  margin: 20px 10px 0 10px;
  font-size: 34px;
  padding: 0 10px;
  color: white;
  border-radius: 6px;
}
.sport a {
  color: white;
  text-decoration: none;
}

#fallSlide {
  background: url(Athletic-pictures/b-Cross-Country-banner.jpg);
  background-size: cover;
  background-position: 50% 0;
}
#winterSlide {
  background: url(Athletic-pictures/b-Basketball.jpg);
  background-size: cover;
  background-position: 50% 40%;
}
#springSlide {
  background: url(Athletic-pictures/Baseball.jpg);
  background-size: cover;
  background-position: 50% 40%;
}

#fall-lower div {
  background-color: #1C3800;
  border: #1C3800 solid 3px;
}

#winter-lower div {
  background-color: #87A2AB;
  border: #87A2AB solid 3px;
}
#spring-lower div {
  background-color: #93A776;
  border: #93A776 solid 3px;
}
#summer-lower div {
  background-color: #D8AB68;
  border: #AED1BA solid 3px;
}
#fall-lower div:hover {
  border: white solid 3px;
}
#winter-lower div:hover {
  border: white solid 3px;
}
#spring-lower div:hover {
  border: white solid 3px;
}
#spring-lower div:hover {
  border: white solid 3px;
}
