@import url('https://fonts.googleapis.com/css2?family=Hind:wght@700&display=swap');
body {
  font-family: 'Hind', sans-serif;
}
#bannerHead {
  font-size: 50px;
  margin-left: 10%;
}
.SeasonalSlide {
  margin: 0 10%;

}
.season-upper h1 {
  text-align: right;
  margin: 0 20% 0 0;
  font-size: 100px;
}
.season-lower {
  display: flex;
  flex-wrap: wrap;
}
.sport {
  margin: 5px 10px;
  font-size: 34px;
  background-color: green;
  padding: 2px 10px;
  color: white;
  border-radius: 6px;
}
