@import url('https://fonts.googleapis.com/css2?family=Hind:wght@700&display=swap');
body {
  font-family: 'Hind', sans-serif;
}
#bannerHead {
  font-size: 50px;
  margin-left: 10%;
}

.SeasonalSlide {
  margin: 0 10%;
}
.season-upper h1 {
  text-align: right;
  margin: 0 0 0 50%;
  font-size: 100px;
  color: white;
  padding: 0 20% 0 0;
  background-color: rgba(0,0,0,0.4);
}
.SeasonalSlide {
}
.season-lower {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
}
.sport {
  margin: 20px 10px 0 10px;
  font-size: 34px;
  padding: 0 10px;
  color: white;
  border-radius: 6px;
}
#fall-lower div {
  background-color: #D8AB68;
}
